[submodule "modules/skoala"]
	path = modules/skoala
	url = ../../skoala.git
	branch = docsite
[submodule "modules/insight"]
	path = modules/insight
	url = ../../engineering/insight/insight.git
	branch = docsite
